@model CookingPlan.Models.Plan

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Plan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"><a href="https://park.ajinomoto.co.jp">レシピ大百科</a>　の料理ページURLを入力して指定</label>
                <input id="Url" class="form-control" />
                <button id="MealRegist" class="btn btn-default">URL指定</button>
                <span id="Url-validation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealId" class="control-label"></label>
                <select asp-for="MealId" class="form-control" asp-items="ViewBag.MealId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $("#MealRegist").click(function () {
                console.log($('#Url').val());
                var url = $('#Url').val();
                if (!url.startsWith("https://park.ajinomoto.co.jp/recipe/card/"))
                    return;
                var spritUrl = url.split("/");
                var num = parseInt(spritUrl[spritUrl.indexOf("card") + 1]);
                console.log($('#Url').val());
                $.ajax({
                    url: '/api/registlations',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({
                        'UrlString': url,
                        'Number': num
                    })
                }).done((data) => {
                    $("#MealId").val(data);
                    console.log(data);
                    console.log("Url success");
                    window.location.href = '/plans/create/?mealId=' + data;
                }).fail((data) => {
                    $("#Url-validation").text("このURLは有効ではありません。");
                    console.log("Url failed");
                })
            })
        });

    </script>
}
