<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"] - CookingPlan</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.3.1/united/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-navbar-sidebar/dist/navbar-fixed-left.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body style="background-color: whitesmoke">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left" style="font-size: medium;">
        <a class="navbar-brand" href="/" style="font-size: x-large">Cooking Plan</a>
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" type="button" data-target="#navbarsExampleDefault" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="navbar-link non-link-decoration nav-link-margin" href="/plans/index">My Page</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-link non-link-decoration nav-link-margin" href="/plans/create">料理プラン作成</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-link non-link-decoration nav-link-margin" href="/plans/index">今日のプラン</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-link non-link-decoration nav-link-margin" href="/plans/index">3日間のプラン</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-link non-link-decoration nav-link-margin" href="/plans/index">1週間プラン</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link-margin" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" style="color: azure">一覧表示</a>
                    <div class="dropdown-menu" style="font-size: large; margin: 7px;">
                        <a class="dropdown-item" href="/plans/index_all">Plans - 登録済みプラン</a>
                        <a class="dropdown-item" href="/meals/index">Meals - 登録済み料理</a>
                        <a class="dropdown-item" href="/foods/index">Foods - 登録済み材料</a>
                    </div>
                </li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content body-margin">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - CookingPlan</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" crossorigin="anonymous" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"></script>-->
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/popper/dist/popper.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
