@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div id="ajinomoto-top-img" class="row text-center">
    <a href="https://park.ajinomoto.co.jp/top/">
        <img alt="「AJINOMOTO PARK」で毎日の「おいしい」が見つけよう"
             src="https://park.ajinomoto.co.jp/wp-content/themes/ajinomoto/resources/images/ajinomotopark_top/main.jpg"
             width="95%;">
    </a>
</div>

<div id="main">
    <hr />
    <div class="text-center" id="login-button">
        @if (SignInManager.IsSignedIn(User))
        {
        <div class="row text-center">
            <div class="col-md-4">
                <a href="/plans/index" class="btn btn-primary btn-lg btn-text btn-block">
                    マイページへ <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="/plans/create" class="btn btn-success btn-lg btn-text btn-block">
                    プランを作成 <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="" class="btn btn-info btn-lg btn-text btn-block">
                    材料リストへ <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
        }
        else
        {
            <div class="row">
                <div class="col-md-6">
                    <p>利用にはユーザ登録が必要です</p>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary btn-lg btn-text btn-block">ユーザ登録</a>
                </div>
                <div class="col-md-6">
                    <p>すでにアカウントをお持ちの方</p>
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-success btn-lg btn-text btn-block">ログイン</a>
                </div>
            </div>
        }
    </div>
    <hr />
    <div id="everyone-select-meal" style="margin-top: 3%;">
        <h3><u>みんなが最近作った料理</u></h3>
        <div id="meals" class="text-center">
        </div>
    </div>
</div>