@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>ログアウトが完了しました。</p>
    <p><a asp-controller="Home" asp-action="Index">トップページ</a>へ戻ります。</p>
</header>